{% extends 'inz/base.html' %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <div class="mb-3">
                <a href="{% url 'list-update-printer' %}" class="btn btn-danger">Powrót</a><hr/>
            </div>
            <div class="shadow p-4 mb-5 bg-body rounded">
                <h2 class="mb-4">Aktualizuj Informacje o Drukarce</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Aktualizuj" class="btn btn-secondary mt-3">
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
