{% extends 'inz/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{% url 'list-news' %}" class="btn btn-danger mb-4">Powrót</a><hr/>
                    <h1 class="mb-4">Dodaj Artykuł</h1>
                    <div class="shadow p-4 mb-5 bg-body rounded">
                        {% if submitted %}
                            {# Dodaj treść, jeśli chcesz wyświetlić coś po przesłaniu formularza #}
                        {% else %}
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group mb-3">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="alert custom-alert alert-danger" role="alert">
                                                {% for error in field.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <input type="submit" value="Dodaj" class="btn btn-secondary mt-3">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="mb-4">Przepraszam :( Musisz się zalogować, aby móc kontynuować!</h1>
                    <a href="{% url 'login-user' %}" class="btn btn-primary">Zaloguj tutaj!</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
